/*<div class="my-radio">
<input type="radio" id="radio" checked>
<label for="radio"><i class="icon check"></i>单选框</label>
</div>*/

.my-radio {
  display: inline-block;
  vertical-align: top;

  label {
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    & > .icon.check {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: 1px solid #cccccc;
      border-radius: 4px;
      cursor: pointer;
      box-sizing: border-box;
      margin-right: 9px;

      &::after {
        content: '';
        width: 12px;
        height: 7px;
        position: absolute;
        top: 3px;
        left: 3px;
        border: 3px solid transparent;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 1;
        transform: rotate(-45deg);
      }
    }

    .icon.circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #667384;
      border-radius: 18px;
      position: relative;
      box-sizing: border-box;
      vertical-align: top;
      margin-right: 10px;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 12px;
        position: absolute;
        top: 3px;
        left: 3px;
        background: transparent;
      }
    }
  }

  input[type=radio] {
    display: none;

    $checkedColor: #2BB9E6;

    &:checked + label {
      & > .icon.circle {
        border-color: $checkedColor;

        &::before {
          background-color: $checkedColor;
        }
      }

      & > .icon.check {
        background-color: $checkedColor;
        border-color: $checkedColor;

        &::after {
          border-left-color: #FFF;
          border-bottom-color: #FFF;
        }
      }
    }
  }
}