.select {
  background-color: #FFF;
  position: relative;
  display: inline-block;
  line-height: 36px;
  border: 1px solid #eee;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  & > .select-text {
    padding: 0 30px 0 10px;
    color: #222222;
  }

  & > .select-ul {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 10000;
    border: 1px solid #D4D4D4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;

    & > li {
      text-indent: 10px;
      color: #222222;

      &.active {
        color: #fff;
        background: #195DA3;
      }

      &:hover {
        color: #fff;
        background: #6AA7EA;
      }
    }
  }
}
