.select {
  box-sizing: border-box;
  background-color: #FFF;
  display: inline-block;
  border: 1px solid #eee;
  cursor: pointer;
  position: relative;
  line-height: 44px;

  & > .select-text {
    padding: 0 30px 0 10px;
    color: #222222;
    position: relative;

    .icon {
      font-size: 16px;
      position: absolute;
      right: 14px;
      top: 14px;
    }
  }

  & > .select-ul {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10000;
    border: 1px solid #D4D4D4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #FFF;

    & > li {
      text-indent: 10px;
      color: #222222;

      &.active {
        color: #fff;
        background: #195DA3;
      }

      &:hover {
        color: #fff;
        background: #6AA7EA;
      }
    }
  }
}
