@import "../../shared/scss/variables.scss";

header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #F7E4C5;

  .text-btn {
    background-color: transparent;
  }

  & > .left-side {
    margin-left: 20px;
  }

  & > .right-side {
    margin-right: 20px;

    .text-btn {
      line-height: 18px;
      height: 18px;
      display: inline-block;

      .icon-github {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    a.text-btn {
      cursor: pointer;
      color: #000;

      &:hover, &:focus {
        color: #565151;
        text-decoration: none;
      }
    }
  }
}
