@import "../../shared/scss/variables.scss";

header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #F7E4C5;

  & > .left-side {
    margin-left: 20px;
  }

  & > .right-side {
    margin-right: 20px;
  }
}
