<div class="source-code-container" id="sourceCode">
    <tabset>
        <tab heading="template" id="template">
            <pre class="prettyprint linenums lang-html">{{ sourceCode.template }}</pre>
        </tab>
        <tab heading="component" id="component">
            <pre class="prettyprint linenums lang-js">{{ sourceCode.component }}</pre>
        </tab>
        <tab heading="mockData" id="mockData">
            <pre class="prettyprint linenums lang-js">{{ sourceCode.mockData }}</pre>
        </tab>
    </tabset>
</div>