html, body {
  width: 100%;
  height: 100%;
}

.btn {
  border: 0;
  line-height: 44px;
  padding: 0 20px;
  font-size: 18px;
  outline: none;

  &.btn-default {
    background-color: #F5F7FA;
    color: #364760;
  }

  &.btn-primary {
    background-color: #2BB9E6;
    color: #FFF;

    &:active, &:hover, &:active:hover {
      color: #FFF !important;
    }

    &:focus:active {
      background-color: #47cbf5;
    }
  }
}

.form-group {
  .form-control {
    height: 44px;
    line-height: 44px;
    border: 1px solid #979797;
    padding: 0 15px;
    font-size: 16px;
  }

  .input-group-addon {
    line-height: 44px;
    background-color: transparent;
    border: 0;
  }
}

label, .label {
  font-weight: normal;
}

.input-group {
  display: inline-block;

  .form-control {
    padding: 0 15px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
  }

  .input-group-addon {
    background-color: transparent;
    padding: 0;
    border: 0;
    width: initial;
  }
}

.table-container {
  /deep/ .table > thead > tr > td, /deep/ .table > tbody > tr > td {
    line-height: 42px;
  }
}