/*<div class="checkbox">
<input [id]="'checkbox'" type="checkbox"/>
<label [for]="'checkbox'"> <i class="icon"></i>复选框</label>
</div>*/

.checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 0 !important;

  label {
    cursor: pointer;

    & > i.icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: text-bottom;
      position: relative;
      border: 1px solid #cccccc;
      border-radius: 4px;
      cursor: pointer;
      box-sizing: border-box;
      margin-right: 9px;

      &::after {
        content: '';
        width: 13px;
        height: 8px;
        position: absolute;
        top: 3px;
        left: 3px;
        border: 3px solid transparent;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 1;
        transform: rotate(-45deg);
      }
    }
  }

  input[type=checkbox] {
    display: none;

    &:checked + label {
      & > i.icon {
        background-color: #2BB9E6;
        border-color: #2BB9E6;

        &::after {
          border-left-color: #FFF;
          border-bottom-color: #FFF;
        }
      }
    }
  }
}