:host {
  flex: none;
}

form {
  flex: 1;

  .form-group {
    $lineHeight: 40px;

    display: flex;
    align-items: center;
    line-height: $lineHeight;

    .control-label {
      flex: 0 0 120px;
      text-align: right;
      margin-right: 25px;
    }

    .btn.btn-primary {
      line-height: 32px;
      font-size: 16px;
    }

    app-select {
      flex: 0 0 100px;
    }

    .checkbox-container, .radio-container {
      display: flex;
      align-items: center;
    }

    .checkbox-container {
      .my-checkbox {
        margin-right: 15px;
      }
    }

    .radio-container {
      .my-radio {
        margin-right: 15px;
      }
    }

    app-select {
      height: 34px;
    }
  }
}
