<div class="simple-layer" [class.hidden]="!simpleLayerService.isShow">
    <div class="layer-shade"></div>
    <div class="layer">
        <div class="title">
            <span>{{ simpleLayerService?.config?.title }}</span>
            <i class="icon qy-icon-close" (click)="simpleLayerService.hide()"></i>
        </div>
        <div class="content" [innerHTML]="simpleLayerService?.config?.content"></div>
        <div class="footer">
            <button (click)="handleOkBtnClick()">{{ simpleLayerService?.config?.okBtnText || ( 'common.okBtnText' |
                translate ) }}
            </button>
            <button class="cancel" (click)="handleNoBtnClick()" *ngIf="simpleLayerService?.config?.showNoBtn">{{
                simpleLayerService?.config?.noBtnText || ( 'common.noBtnText' | translate ) }}
            </button>
        </div>
    </div>
</div>