.layout.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > app-header {
    flex: 0 0 80px;
    display: flex;
  }

  & > .app-content {
    display: flex;
    flex: 1;

    & > app-menu {
      flex: 0 0 200px;
      display: flex;
    }

    & > .page-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      & > .page-wrapper {
        flex: 1;
        padding: 10px 20px;
        position: relative;
        display: flex;
      }
    }
  }
}