$menuPaddingLeftIncrement: 20;
$level1LineHeight: 60px;
$level2LineHeight: 40px;

.menu {
  background-color: #1F9792;
  color: #FFF;
  display: flex;
  flex: 1;

  .level1 {
    flex: 1;

    &.folded {
      .level2 {
        display: none;
      }
    }

    @mixin itemActive {
      color: #fff;
      background-color: #24aea8;
    }

    .menu-item {
      &.active {
        & > .menu-text {
          @include itemActive;
        }
      }

      & > .menu-text {
        line-height: $level1LineHeight;
        color: #FFF;
        display: block;
        cursor: pointer;
        padding-left: $menuPaddingLeftIncrement + px;

        &.active {
          @include itemActive;
        }

        .icon {
          vertical-align: middle;
          margin-right: 10px;
          margin-top: -4px;

          &::before {
            color: #FFF;
          }
        }
      }
    }

    .level2 {
      .menu-text {
        line-height: $level2LineHeight;
        padding-left: $menuPaddingLeftIncrement * 2 + px;
      }
    }
  }
}
