.page {
  width: 100%;
  height: 100%;

  .login-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .login-wrapper {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    & > .title {
      font-size: 30px;
      color: #000;
      margin-bottom: 40px;
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .text-btn {
      margin-bottom: 20px;
    }

    .btn-default {
      width: 360px;
      background-color: #2bb9e6;
      border: 0;
      color: #FFF;
    }

    .register {
      text-align: center;
      padding-top: 20px;
      color: #000;
      font-size: 18px;

      span {
        margin-right: 15px;
      }
    }
  }
}